{% extends 'base.html' %}
{% block content %}
<div class="center-container">
    <form class="custom-form" style="width:100%;" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p class="custom-title">Login</p>
        <p class="custom-message">Login now and start bidding!</p>
        <label>
            {{ form.username }}
            <span>Username</span>
        </label>
        <label>
            {{form.password}}
            <span>Password</span>
        </label>
        <button class="custom-submit">Submit</button>
        <p class="custom-signin">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </form>
</div>
{% endblock %}