{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <div class="card-switch">
        <label class="switch">
            <input type="checkbox" class="toggle">
            <span class="slider"></span>
            <span class="card-side"></span>
            <div class="flip-card__inner">
                <div class="flip-card__front">
                    <div class="title">Log in</div>
                    <form class="flip-card__form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="flip-card__btn">Let's go!</button>
                    </form>
                </div>
            </div>
        </label>
    </div>
</div>
{% endblock %}