{% extends 'base.html' %}

{% block content %}
{% if groups %}
    <!-- <h1>Create a New Bid</h1>
    <form method="post" action="{% url 'create_bid' %}">
        {% csrf_token %}
        <label for="pickup">Pickup:</label>
        <input type="text" id="pickup" name="pickup" value="Supernova Engineers Limited">

        <label for="destination">Destination:</label>
        <input type="text" id="destination" name="destination">

        <label for="destination_link">Destination Link:</label>
        <input type="text" id="destination_link" name="destination_link">

        <label for="number_of_vehicles">Number Of Vehicles:</label>
        <input type="number" id="number_of_vehicles" name="number_of_vehicles" value="1">

        <label for="time_limit">Time Limit:</label>
        <input type="datetime-local" id="time_limit" name="time_limit" required>
        
        <button type="submit">Proceed further</button>
    </form> -->
    <!-- <div class="container">
	
      <div class="modal">
        <div class="modal__header">
          <span class="modal__title">New project</span><button class="button button--icon"><svg width="24" viewBox="0 0 24 24" height="24" xmlns="http://www.w3.org/2000/svg">
              <path fill="none" d="M0 0h24v24H0V0z"></path>
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path></svg></button>
        </div>
        <div class="modal__body">
          <div class="input">
            <label class="input__label">Project title</label>
            <input class="input__field" type="text"> 
            <p class="input__description">The title must contain a maximum of 32 characters</p>
          </div>
          <div class="input">
                    <label class="input__label">Description</label>
            <textarea class="input__field input__field--textarea"></textarea>
              <p class="input__description">Give your project a good description so everyone know what's it for</p>
          </div>
        </div>
        <div class="modal__footer">
          <button class="button button--primary">Create project</button>
        </div>
      </div>
    </div> -->
{% endif %}
{% endblock %}
